<form class="column" [formGroup]="calculationFormGroup">
  <mat-label>Calculation Type</mat-label>
  <mat-form-field class="example-full-width">
    <input type="text" matInput
           [formControl]="calculationTypeControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn"
                      (optionSelected)="setCalculationType($event.option.value)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        <span>{{option.display}}</span> |
        <small>{{option.description}}</small>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

  <mat-label>A</mat-label>
  <mat-form-field class="example-full-width">
    <input type="text" matInput formControlName="a">
  </mat-form-field>

  <mat-label>B</mat-label>
  <mat-form-field class="example-full-width">
    <input type="text" matInput formControlName="b">
  </mat-form-field>

  <button mat-button
          (click)="calculate()"
          [disabled]="!calculationFormGroup.valid">
    Calculate!
  </button>

  <span *ngIf="result !== undefined">{{result}}</span>
</form>
